/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700";body {
    font-family: 'Nunito', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img{
    height: 60px;
    padding-left: 20px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.btn-primary{
    background-color: #05395c !important;
   }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-image: linear-gradient(to right, #05395c,#054e80) !important;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background-image: linear-gradient(to right, #05395c,#054e80) !important;
}
.sidebar-header img{
    height: 70px;
    padding-left:60px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
.sidebar-title{
    font-weight: bold;
    font-size: 1.4em;  
}
.sidebar-subtitle{
    font-weight: bold;
    font-size: 1.2em;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #05395c;
}

a[data-toggle="collapse"] {
    position: relative;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
  
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
.fa-bell{

    color: #054e80 !important;
    font-size: 20px;
}
.fa-envelope{
    color: #054e80 !important;
    font-size: 20px;   
}
.bg-primary{
    background-image: linear-gradient(to right, #05395c,#054e80) !important;  
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
     .mobile-link{
         color: #fff !important;
     }
    .navbar {
        padding: 15px 10px;
        background-image: linear-gradient(to right, #05395c,#054e80) !important;
        color: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    .fa-bell{

        color: #fff !important;
        font-size: 20px;
    }
    .fa-envelope{
        color: #fff !important;
        font-size: 20px;   
    }
   
}