*{
    margin: 0;
    padding: 0;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff ;
}
body, html {
    height: 100%;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-main{
    background-image: linear-gradient(to right, #05395c,#054e80) !important;
}
.navbar-brand img{
    height: 60px;
    padding-left: 20px;
}
.btn-primary{
 background-color: linear-gradient(to right, #05395c,#054e80) !important;
}
.navbar-nav li{

    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
#banner{
  
    background-image: url('/img/banner.png');
    
    height: 500px;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top:7%;
  padding-left: 5%;
}
#banner-title{
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 1.1em;
    color: #171d58;
}
#banner-subtitle{

    font-weight: 400;
    font-size: 20px;
    line-height: 2.1em;
}
.banner-items{

    font-weight: 400;
    font-size: 18px;
    line-height: 1.9em;
}
.services{
    background-image: linear-gradient(to right, #05395c,#054e80) !important;
    color: #fff;
    margin-top: -30px;  
}
.fa-file-text-o{
    font-size: 40px !important;
}
.fa-bullhorn{
    font-size: 40px !important;  
}
#service-subtitle{

    font-weight: 400;
    font-size: 20px;
    line-height: 2.1em;
}

.bidbond{
    margin-top: 70px;
    background-color: #fff;
    padding-bottom: 117px;
}
.latest{
    margin-top: 10px;
    background-color: #f8f9fb;
    padding-bottom: 10px;
   
}

#latest-title{
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.1em;
    color: #171d58;
    padding-top: 40px;
}
.header{
    height: 20%;
    background-image: linear-gradient(to right, #05395c,#054e80) !important;
}
#header-body{
    padding-top: 3%;
    padding-bottom: 6%;
}

#header-title{
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.1em;
    color: #fff   
}
#header-subtitle{
        font-size: 18px;
        color: #fff;
}

.main_body{

    margin-top: 40px;
    margin-bottom: 40px;
}

.footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #1a1a1a;
}
.page_section {
    padding-bottom: 117px;
}
.logo{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;
    margin-left: 3px;
}
.footer_about_text{
    color: #a5a5a5;
    list-style-type: none;
    text-align: left;
    margin-top: 10px;
}
.footer_column_title {
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    padding-top: 15px;
}
.footer_contact_item {
    font-size: 14px;
    font-weight: 400;
    color: #a5a5a5;
    margin-bottom: 22px;
    list-style-type: none;
    text-align: left;
}
.footer_contact_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}
ul .footer_contact_item {
    list-style-type: none;
    text-align: left;
    margin-left: -40px;
    margin-top: 10px;
}
ul .footer_contact_item li{
    margin-left: -50px;
}
.nav-item{
    font-size: 15px !important;
}